<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="navsection">
        <div class="title">
            <h3>Academy-pro </h3>
            
        </div>
        <div class="menu">
            <a href="">Teachers</a>
            |
              <a href="">STUDENTS</a>



            |<a href="">STAFF-MANAGEMENT</a>
            
        </div>
        <div class="user">
            <a  href="">Login</a>
        </div>
        

    </div>

    
</body>
</html>